<div class="overlay" *ngIf="selectedProduct">
  <div class="product-add-modal">
    <div class="block-img"></div>
    <div
      *ngFor="let img of selectedProduct.imageName; let i = index"
      class="image-upload"
    >
      <img [src]="img" alt="Image" class="product-image" />
    </div>
    <div *ngIf="imagePreview" class="image-upload">
      <img [src]="imagePreview" alt="Предпросмотр" class="product-image" />
    </div>
    <div class="button-wrapper">
      <button (click)="fileInput.click()">Додаты фото</button>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="onFileSelected($event)"
      />
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Тип продукту</mat-label>
      <mat-select [(ngModel)]="selectedProduct.itemType">
        <mat-option value="cider">Сидр</mat-option>
        <mat-option value="beer">Пиво</mat-option>
        <mat-option value="snack">Снек</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="selectedProduct?.itemType !== 'snack'"
      appearance="fill"
    >
      <mat-label>Колір</mat-label>
      <input matInput type="text" [(ngModel)]="selectedProduct.color" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Назва</mat-label>
      <input
        matInput
        id="name"
        [(ngModel)]="selectedProduct.name"
        *ngIf="selectedProduct"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Опис</mat-label>
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="10"
        matInput
        id="description"
        [(ngModel)]="selectedProduct.description"
        *ngIf="selectedProduct"
      ></textarea>
    </mat-form-field>

    <div
      *ngFor="let option of selectedProduct.options; let i = index"
      class="option-fields"
    >
      <mat-form-field appearance="fill">
        <mat-label>Ціна</mat-label>
        <input matInput type="number" [(ngModel)]="option.price" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Кількість</mat-label>
        <input matInput type="number" [(ngModel)]="option.quantity" />
      </mat-form-field>

      <mat-form-field
        *ngIf="selectedProduct?.itemType === 'snack'"
        appearance="fill"
      >
        <mat-label>Вага</mat-label>
        <input matInput type="number" [(ngModel)]="option.measureValue" />
      </mat-form-field>

      <mat-form-field
        *ngIf="selectedProduct?.itemType !== 'snack'"
        appearance="fill"
      >
        <mat-label>Объем</mat-label>
        <input matInput type="number" [(ngModel)]="option.volume" />
      </mat-form-field>
    </div>

    <div class="button-wrapper">
      <button (click)="addOption()">Додаты опцію</button>
      <button (click)="addProduct()" [disabled]="isFormInvalid()">
        Зберегти
      </button>
      <button (click)="cancelEdit()">Скасувати</button>
    </div>
  </div>
</div>
