* {
  margin: 0;
}
.header-tablet {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  button {
    border-radius: 0;
  }
}

img {
  height: 50px;
  width: 50px;
}
.table-wrapper {
  max-width: 100%;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}
.mat-column-actions {
  text-align: center;
}

// .mat-column-options {
//   text-align: center;
// }

td,
th {
  padding: 0.3rem;
  min-width: 10rem;
}
