<div *ngIf="!productLoading" class="table-wrapper">
  <div class="header-tablet">
    <div class="filter-section">
      <mat-form-field appearance="outline">
        <mat-label>Пошук</mat-label>
        <input
          matInput
          (keyup)="Filter($event)"
          placeholder="Введіть назву товару"
          #input
          aria-label="Пошук товарів"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Тип продукту</mat-label>
        <mat-select
          (selectionChange)="onTypeChange($event.value)"
          aria-label="Фільтр за типом товару"
        >
          <mat-option value="all">Всі типи</mat-option>
          <mat-option value="cider">Сидр</mat-option>
          <mat-option value="beer">Пиво</mat-option>
          <mat-option value="snack">Снеки</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      (click)="startAddProduct()"
      color="primary"
      aria-label="Додати новий товар"
    >
      <mat-icon>add</mat-icon>
      Додати новий товар
    </button>
  </div>

  <div
    *ngIf="filteredProducts.length === 0"
    class="empty-table-alert"
    role="alert"
  >
    Таблиця на разі пуста або ви маєте некоректний пошук чи фільтр за типом
  </div>

  <table
    *ngIf="filteredProducts.length"
    mat-table
    [dataSource]="filteredProducts"
    class="mat-elevation-z8"
  >
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
        <td
          mat-cell
          *matCellDef="let product"
          [class.description-column]="column === 'description'"
        >
          <ng-container [ngSwitch]="column">
            <ng-container *ngSwitchCase="'imageName'">
              <img
                *ngIf="product.imageName?.length; else noImage"
                [src]="product.imageName[0]"
                alt="{{ product.name }}"
                class="product-image"
              />
              <ng-template #noImage>
                <div class="image-placeholder">
                  <mat-icon>image_not_supported</mat-icon>
                </div>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'options'">
              <div class="option" *ngFor="let option of product.options">
                {{ option.measureValue }} л, {{ option.quantity }} шт., Ціна:
                {{ option.price | currency }}
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'actions'">
              <div class="actions">
                <button
                  mat-icon-button
                  (click)="editProduct(product)"
                  aria-label="Редагувати товар"
                >
                  <mat-icon color="primary">edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="deleteProduct(product.itemType, product.id)"
                  aria-label="Видалити товар"
                >
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ product[column] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <app-product-editor [selectedProduct]="selectedProduct"></app-product-editor>

  <app-add-product
    *ngIf="isAddingProduct"
    (cancel)="onCancelAddingProduct()"
  ></app-add-product>
</div>
