.processing-row {
    background-color: #e0f7fa; /* светло-голубой */
  }
  
  .accepted-row {
    background-color: #c8e6c9; /* светло-зеленый */
  }
  
  .in-progress-row {
    background-color: #fff9c4; /* светло-желтый */
  }
  
  .delivered-row {
    background-color: #cccbcb; /* светло-серый */
  }
  
  .completed-row {
    background-color: #ffccbc; /* светло-розовый */
  }
  
  .canceled-row {
    background-color: #f8bbd0; /* светло-розовый */
  }
  