<div class="order-container">
  <div class="filters-toolbar">
    <mat-form-field appearance="fill">
      <mat-label>Фільтр за статусом</mat-label>
      <mat-select
        [(value)]="selectedStatus"
        (selectionChange)="onStatusChange()"
      >
        <mat-option *ngFor="let status of orderStatuses" [value]="status.value">
          {{ status.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Пошук за ID"
        (keyup)="onSearchInput($event)"
        #input
      />
    </mat-form-field>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="filteredOrders" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td
          mat-cell
          *matCellDef="let order"
          [class]="getRowClass(order.deliveryStatus)"
        >
          {{ order.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>Користувач</th>
        <td
          mat-cell
          *matCellDef="let order"
          [class]="getRowClass(order.deliveryStatus)"
        >
          {{ order.firstName }} {{ order.lastName }}<br />
          <small>{{ order.deliveryAddress }}</small>
        </td>
      </ng-container>

      <ng-container matColumnDef="contacts">
        <th mat-header-cell *matHeaderCellDef>Контакти</th>
        <td
          mat-cell
          *matCellDef="let order"
          [class]="getRowClass(order.deliveryStatus)"
        >
          <div>{{ order.customerPhoneNumber }}</div>
          <div class="email">{{ order.customerEmail }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef>Товари</th>
        <td
          mat-cell
          *matCellDef="let order"
          [class]="getRowClass(order.deliveryStatus)"
        >
          <div *ngFor="let item of order.items" class="order-item">
            <span class="item-title">{{ item.itemTitle }}</span>
            <span class="item-type">{{ item.itemType | uppercase }}</span>
            <span class="item-quantity">x{{ item.quantity }}</span>
            <span class="item-price">{{ item.price | currency }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Сума</th>
        <td
          mat-cell
          *matCellDef="let order"
          [class]="getRowClass(order.deliveryStatus)"
        >
          {{ order.totalPrice | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryStatus">
        <th mat-header-cell *matHeaderCellDef>Статус</th>
        <td
          mat-cell
          *matCellDef="let order"
          [class]="getRowClass(order.deliveryStatus)"
        >
          <mat-form-field appearance="fill">
            <mat-select
              [(value)]="order.deliveryStatus"
              (selectionChange)="updateOrderStatus(order, $event.value)"
              [disabled]="order.deliveryStatus === 'COMPLETED'"
            >
              <mat-option
                *ngFor="let status of orderStatuses"
                [value]="status.value.toUpperCase()"
                [disabled]="status.value === 'all'"
              >
                {{ status.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>
