.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.product-editor-modal {
    background: white;
    padding: 1.25rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3); 
    width: 43.75rem; 
    max-width: 90%; 
}

.image-upload {
    text-align: center; 
    margin-bottom: 1.25rem;
}

.button-wrapper {
    width: 100%;
}

.button-wrapper button {
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.3125rem; 
    border-radius: 0;
    border: none;
    height: 2.7rem; 
    align-items: center;
}

.button-wrapper button:hover {
    background: #5c6388;
}

mat-form-field {
    width: 100%; 
    margin-bottom: 0.9375rem; 
}

h2 {
    text-align: center;
    margin-bottom: 1.25rem; 
}

img {
    height: 9.375rem; 
    width: 9.375rem;
    margin-bottom: 0.625rem; 
}

textarea {
    height: 3rem; 
}

.option-fields {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 0.9375rem; 
}
