.layout {
  background-color: #e4e4e4;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .layout-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .layout-content {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    height: 100%; // Чтобы контейнер занимал всю доступную высоту
  }
}
